@import url(font-awesome.min.css);

body {
  background-color: #2e3141;
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
}

#container {
  width: 300px;
  margin: 100px auto;
  border: 2px solid grey;
  border-radius: 15px;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

h1 {
  background: #2B2D2F;
  color: white;
  margin: 0;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 13px 13px 0px 0px;
}

h2 {
  background: #2B2D2F;
  color: white;
  margin: 0;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 0px 0px 13px 13px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  color: white;
  line-height: 40px;
  background-color: #596270;
  padding-left: 60px;
}

li:nth-child(2n){
  background-color: #69768a;
}

body {
      font-family: 'Roboto', sans-serif;
}

input {
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  font-size: 18px;
  box-sizing: border-box;
  border: 3px solid #2B2D2F;
}

input:focus {
  background-color: white;
  border: 3px solid #69768a;
  outline: none;
}

span {
  color: #ff726f;
  height: 40px;
  margin: 0 0 0 20px;
  opacity: 0;
  padding: 3px 15px 3px 15px;
  float: right;
  box-sizing: border-box;
  transition: 0.3s linear;
}

li:hover span {
  opacity:1;
}

.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* OSX */
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
